.merchItemImage {
  width: 70px;
  height: auto;
}

.dot {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: green;
  display: inline-block;
}

.hidden {
  background-color: #DA0A16;
}